<section class="front">

<h4>“Instead of trying to make a better robot, try to make a better man.”
Shimon Peres</h4>



<div class="sliderRanges">
    <div class="col-md-4">
    <h4>Beer in Bar</h4>
    <rzslider
        rz-slider-model="main.requirements.beer"
        rz-slider-options="{floor: 0, ceil: 15}"></rzslider>
     </div>


     <div class="col-md-4">
     <h4>Rent Range</h4>
     <rzslider
         rz-slider-model="main.requirements.rentMin"
         rz-slider-high="main.requirements.rentMax"
         rz-slider-options="{floor: 100, ceil: 4000}"></rzslider>
      </div>


     <div class="col-md-4">
     <h4>Coffee In Cafe</h4>
     <rzslider
         rz-slider-model="main.requirements.coffee"
         rz-slider-options="{floor: 0, ceil: 15}"></rzslider>
      </div>


     <div class="col-md-4">
     <h4>How Friendly to Strangers?</h4>
     <rzslider
         rz-slider-model="main.requirements.foreignerFriendyIdx.value"
         rz-slider-options="main.requirements.foreignerFriendyIdx.options"></rzslider>
     </div>


     <div class="col-md-4">
     <h4>Important that they are non racist?</h4>
     <rzslider
         rz-slider-model="main.requirements.racismIdx.value"
         rz-slider-options="main.requirements.racismIdx.options"></rzslider>
     </div>


     <div class="col-md-4">
     <h4>Important that they accept LGBT</h4>
     <rzslider
         rz-slider-model="main.requirements.lgbtIdx.value"
         rz-slider-options="main.requirements.lgbtIdx.options"></rzslider>
     </div>

<button class="btn btn-secondary btn-lg" ng-click="main.meetmyRequirements()">Meet my Requirments</button>
<p></p>
</div> <!-- end of slider range choices -->


</section>
