

<section ng-show="!main.isLoggedIn()">
<h1>Login</h1>

<div class="centered">
    <div ng-hide="main.isLoggedIn()">
      <h1>Satellizer</h1>
      <h3>Oauth for Facebook &amp; Github</h3>
      <hr>
      <button class="facebook" ng-click="main.authenticate('facebook')"><i class="fa fa-facebook-square"></i> Sign in with Facebook</button>
      <button class="github" ng-click="main.authenticate('github')"><i class="fa fa-github-square"></i> Sign in with Github</button>
 
      <button class="github" ng-click="main.authenticate('instagram')"><i class="fa fa-github-square"></i> Sign in with Insgram</button>

</section>
