.avatar {
  border-radius: 100px;
}

#message-panel {
  height: calc(80vh - 50px);
  border: 1px solid #ddd;
  margin-bottom: 20px;
  border-radius: 4px;
  overflow-y: scroll;
  position: relative;
}

#message-panel ul {
  margin: 0;
  padding: 0;

  list-style: none;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#message-panel ul li{
  padding: 3px 12px;
  width: calc(100% - 8px);
  border-radius: 4px;
  background-color: #eee;
  margin: 4px;
}

#message-panel ul li span.message {
  display: inline-block;
  width: 75%;
}

#message-panel ul li span.username {
  display: inline-block;
  width: calc(25% - 4px);
  text-align: right;
  color: #bbb;
  font-weight: 600;
}

#message-panel ul li.me {
  text-align: right;
  background-color: rgba(0, 221, 0, 0.6);
}

.form-inline .form-group {
  width: 80%;
}

.form-inline .form-control {
  width: 100%;
}